{
	admin 0.0.0.0:2019
	admin [::]:2019
}

localhost, 127.0.0.1 {
	metrics
}

api-oa-integrator.pokgak.xyz {
	reverse_proxy /api/* http://backend:1323
    reverse_proxy * http://web:3000

	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}
