@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-input  {
    background: white;
    border-radius: 4px;
    -webkit-text-fill-color: black;
}

.MuiInputBase-input.Mui-disabled {
    background: #d2d5d81A;
    border-radius: 4px;
    -webkit-text-fill-color: black;
}

.MuiTextField-root {
    background: white;
    border-radius: 4px;
    -webkit-text-fill-color: black;
}

.MuiTextField-root.Mui-disabled {
    background: #d2d5d81A;
    border-radius: 4px;
    -webkit-text-fill-color: black;
}